/* Container - width 80% so that it will be responsive 
Margin auto so that it can space out equally from both sides

Relative to the border; 
Padding is the space inside
Margin is the space outside

Margin: top right bottom left (clock wise) 
        Or  top-bottom right-left (if they are same) 

Reset: *{
  margin:0;
  padding:0;
}

Inside of the box1 class cover all the h1 elements; .box-1 h1{} */

/* Positioning in CSS
Static is default 
Relative mean element is positioned relative to normal position
Absolute help target relative element
Fixed is in browser locked how much you scroll its gonna be locked
Inital
Inherit */



/* *{
  margin:0;
  padding:0;
}
 */



a{
  text-decoration:none;
  color:#000;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

a:visited{
  color:blue;
}

body {
  background-color:#f4f4;
  color:#555555;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:1.6em;
  margin:0;
}

.container{
  width:80%;
  margin:auto;
}

.button{
  background-color:#333;
  color:#fff;
  padding:10px 15px;
  border:none;
}

.button:hover{
  background:red;
  color:black;
}

.clr{
  clear:both;
}

.box-1{
  background-color:#333;
  color:#fff;
  border-top-style: dotted;  
  border: 5px red solid;
  border-top-width:4px;
  
  padding-top:20px;
  padding: 20px;
  
  margin:100px;
}

.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration:underline;
  text-transform:uppercase;
  letter-spacing:0.2em;
  word-spacing:1em;
}

.box-2 {
  border:3px dotted #ccc;
  padding:20px;
  margin:20px;
  
}

.categories {
  border:1px #ccc solid;
  padding:10px;
  border-radius:15px;
}

.categories h2{
  text-align:center;
}

.categories ul{
  padding:0;
  padding-left:20px;
  list-style:square;
  list-style:none;
}

.categories li{
  padding-bottom:6px;
  border-bottom:dotted 1px #333;
  list-style-image: url('')
}

.my-form{
  padding:20px;
}

.my-form form-group{
  padding-bottom:15px;
}

.my-form label{
  display:block;
}

.my-form input[type="text"], .my-form textarea{
  padding:8px;
  width:100%;
}


.block{
  float:left;
  width:33.3%;
  border:1px solid #ccc;
  padding:10px;
  box-sizing:border-box;
}